<nav class="navbar navbar-expand-lg navbar-dark d-flex justify-content-between px-3" style="background-color: var(--bca)">
  <h3 class="my-1 align-self-start" style="color: white; font-family: Calibri;">
    <img src="/assets/logo.png" alt="" class="" style="height: 2.2rem;">
      <!-- <b style="letter-spacing: 1px;"><i>BCA Meeting</i></b> -->
  </h3>
  <div id="menus">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav" *ngIf="currIdLogin !== 0">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/new_meeting']" [routerLinkActive]="['active']">New Meeting</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/view_meetings']" [routerLinkActive]="['active']">View Meetings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']" (click)="logout()">Logout</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
