<nav class="navbar navbar-expand-lg navbar-dark d-flex justify-content-between px-3" style="background-color: #1F4A88">
  <h3 class="mb-1 mt-1 align-self-start" style="color: white; font-family: Calibri;">
      <i>BCA Meeting</i>
  </h3>
  <div class="">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a id="home" class="nav-link" href="/home">New Meeting</a>
              </li>
              <li class="nav-item">
                  <a id="login" class="nav-link" href="/login">View Meetings</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
